* {
    margin: 0;
    padding: 0;
}

.top {
    padding-left: 70px;
    padding-bottom: 96px;
}

.top__header {
    padding-top: 51px;
    padding-bottom: 89px;
}

.top__header__logo {
    float: left;
    width: 250px;
}

.top__content {
    margin-bottom: 178px;
}


.top__info {
    float: left;
    width: 250px;
}

.title {
    margin-bottom: 17px;
}

.subtitle {
    margin-bottom: 37px;
}