a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

.menu-head {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.h1-style {
    color:brown;
    /*color: #222222;*/
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.h2-style {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.p-class {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.img-style {
    border-radius: 10px;}

.button-style {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}

.input-style {
    width: 200px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
}