* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	box-sizing: border-box;
	scroll-behavior: smooth;
	background: #020a18;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
}

img {
	max-width: 100%;
	display: block;
}

.container {
	width: 1146px;
	margin: 0 auto;
}

header {
    padding-top: 39px;
    padding-bottom: 39px;
    display: flex;
}

.navigation {
	display: flex;
	justify-content: center;
	gap: 32px;
}

.navigation__link {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
}

main {
	margin-bottom: 197px;
}

.content__wrapper {
	display: flex;
	justify-content: space-between;
}

.content-block {
	max-width: 604px;
}

.content__subtitle {
	font-size: 18px;
	line-height: 160%;
	text-transform: uppercase;
	color: #3a68b8;
	margin-bottom: 10px;
}

.content__mainTitle {
	font-weight: 800;
	font-size: 55px;
	line-height: 130%;
	color: #ffffff;
	margin-bottom: 40px;
}

.content__description {
	font-size: 18px;
	line-height: 160%;
	color: #ffffff;
	opacity: 0.7;
	margin-bottom: 50px;
	max-width: 558px;
}

.content__btns {
	display: flex;
	gap: 20px;
}

.content__btns__button {
	font-size: 20px;
	line-height: 27px;
	color: #ffffff;

	background: #3a68b8;
	border-radius: 5px;
	padding: 15px 30px;
	border: none;
	cursor: pointer;
}

.btn-play {
	display: flex;
	gap: 10px;
}

footer {
	margin-bottom: 99px;
}

.logos {
	display: flex;
	justify-content: space-between;
}

.item__text {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }
    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .top {
        padding-bottom: 120px;
    }

    .top__logos {
        gap: 32px;
        min-width: 650px;
        margin: auto;
    }

    .item__big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }
}