@font-face {
    font-family: 'Gilroy-Semibold';
    src: url(./font/Gilroy-Semibold.woff2);
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url(./font/Gilroy-Bold.woff2);
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./font/Gilroy-Medium.woff2);
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(./font/Gilroy-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
}

.top {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.top_item {
    display: grid;
    justify-items: left;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 29px;
    padding-right: 31px;
}

.top_item_shadow {
    box-shadow:3px 3px 3px darkgrey;
}

.top_heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 25px;
    padding-bottom: 17px;
}

.top_item_txt {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 25px;
}

.top_details {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.content {
    background: #FAFAFA;
}

.content_head {
    display: grid;
    justify-items: center;
    padding-top: 92px;
    padding-bottom: 54px;
}

.content_head_1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content_head_text {
    color: #666;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 682px;
}

.content_main {
    display: grid;
    grid-template-columns: repeat(3, 385px);
    column-gap: 30px;
    justify-content: center;
    padding-bottom: 100px;
}

.content_item {
    display: grid;
    justify-items: center;
    background: #FFF;
    padding-bottom: 50px;
}

.content_item_shadow {
    box-shadow:3px 3px 3px darkgrey;
}

.content_item_img {
    width: 350px;
    /*height: 289px;*/
}

.content_heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 22px;
}

.content_item_text {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 310px;
    padding-bottom: 39px;
}

.content_item_btn {
    width: 150px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    border: none;
    background: #F25822;
    
    /*текст кнопки*/
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}