* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
}

.container {
    width: 1600px;
	margin: 0 auto;
}

/*верхнее меню*/
.hmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background: #222;
}

.hmenu_btns {
    display: flex;
    justify-content: space-between;
    width: 1130px;
}

.hmenu_left_part {
    width: 110.999px;
    display: flex;
    justify-content: space-between;
}

/*кнопки справа в верхнем меню*/
.hmenu__btns_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    height: 29px;
}

.hmain {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    background: #F1E4E6;
}

.banner-titlewrapper {
    display: flex;
    justify-content: left;
    gap: 16px;
    padding-left: 64px;
}

.banner_rectangle {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    background: #F16D7F;
}

.bannertitle1 {
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}
.bannertitle2 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bannertitle2_2 {
    color: #F16D7F;
}

.content {
    background: #FFF;
}

/* карточки категорий */
.cprev {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    justify-content: center;
    gap: 30px;
}

.cprev__item1 {
    background-image: url('img/1-for_women.svg');
}

.cprev__item2 {
    background-image: url('img/2-for men.svg');
}

.cprev__item3 {
    background-image: url('img/3-for kids.svg');
}

.cprev__item4 {
    background-image: url('img/4-ACCESORIES.svg');
    grid-column: span 3;
}

.cprev__bg {
    background: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.cprev__text {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.cprev__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #f16d7f;
}

/*Заголовок после карточек категорий и перед карточками товаров*/
.ctitle {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding-top: 96px;
    padding-bottom: 48px;
}

.ctitle_big {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ctitle_small {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Карточки товаров */
.cmain {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 581px);
    justify-content: center;
    gap: 30px;
    text-align: center;
    padding-bottom: 48px;
}

.cmain_item {
    justify-content: center;
    background-color: #F8F8F8;
}

.cmain_img {
    height: 420px;
}

.cmain_desc {
    display: block;
    padding: 24px 16px;
    text-align: left;
}

.cmain_title {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cmain_text {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 16px 0;
}

.cmain_price {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cmain_footer {
    display: flex;
    justify-content: center;
    padding-bottom: 95px;
}

.cmain_footer_btn {
    /*text*/
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 15px 40px;
    background: none;
    border: 1px solid #f26376;
}

.footer_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 341px;
    background-color: #222224;
    gap: 30px;
}

.footer_menu_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 360px;
}

.footer_menu_img {
    padding-bottom: 28.07px;
}

.footer_menu_title {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 19.96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.footer_menu_text {
    width: 360px;
    color: #FBFBFB;
    text-align: center;
    font-family: Lato;
    font-size: 13.972px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer_main {
    height: 448px;
    background-image: url('img/f_bg-img.png');
}

.footer_main_bg {
    background: rgba(244, 244, 244, 0.70);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.footer_main_content {
    display: flex;
    justify-content: space-between;
    width: 1130px;        
    margin: 0 auto;        
}

.footer_main_item1_img {
    padding-bottom: 30px;
}

.footer_main_item1 {
    text-align: center;
    width: 359.449px;
    height: 99px;
}

.footer_main_item1_text {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_main_item1_text2 {
    color: #222224;
    font-family: Lato;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}


.footer_main_item2_title {
    color: #222224;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 167.2%;
}

.footer_main_item2_text {
    color: #222224;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 167.2%;
    padding-bottom: 32px;
}

.footer_main_item2_input {
    width: 256px;
    height: 49px;
    color: #222224;
    background-color: #E1E1E1;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.671;
}

.footer_main_item2_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_main_item2_btn {
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    border: none;

    /*text*/
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.footer_end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
    background-color: #222224;
}

.footer_end_box {
    display: flex;
    justify-content: space-between;
    width: 1130px;
}

.footer_end_copyright {
    color: #FBFBFB;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer_end_links {
    display: flex;
    justify-content: space-between;
    gap: 7.29px;
}

.footer_end_link {
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 31.451px;
    height: 32px;
    flex-shrink: 0;
    background-color: #FFF;
}

/* адаптив под планшет */

@media (max-width: 1024px) and (min-width: 768px) {
    .container {
		width: 770px;
	}

    .hmenu {
        height: 74px;
    }

    .hmenu_btns {
        width: 704px;
    }

    .hmenu__btns_group {
        width: 169px;
    }

    .hmain_img {
        width: 386px;
        height: 368px;
    }

    .banner-titlewrapper {
        gap: 16px;
        padding-left: 39px;
    }

    .bannertitle1 {
        font-size: 44px;
    }
    .bannertitle2 {
        font-size: 24px;
    }

    .cprev {
        display: grid;
        grid-template-columns: repeat(3, 231.973px);
        grid-template-rows: 167.617px 116.043px;
        justify-content: center;
        gap: 19.38px;
    }

    .cprev__text {
        font-size: 16px;
        line-height: normal;
    }
    
    .cprev__title {
        font-size: 24px;
        line-height: normal;
    }

    .ctitle {
        padding-top: 109.92px;
        padding-bottom: 73.74px;
    }
    
    .cmain {
        grid-template-columns: repeat(2, 360px);
        grid-template-rows: repeat(3, 581px);
        gap: 17px;
    }

    .cmain_desc {
        padding: 25.35px 12.65px;
    }

    .cmain_text {
        font-size: 14px;
        padding-top: 12.65px;
        padding-bottom: 18px;
    }
    
    .cmain_footer {
        padding-bottom: 95px;
    }
}

/* адаптив под мобильный телефон  */

@media (max-width: 767px) and (min-width: 320px) {
    .container {
		width: 375px;
	}

    .hmenu {
        height: 74px;
    }

    .hmenu_btns {
        width: 343px;
    }

    .hmenu__btns_group {
        width: 32px;
    }
    
    .hmenu_img2 {
        display: none;
    }

    .hmenu_img3 {
        display: none;
    }    

    .hmain {
        height: 363px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hmain__item1 {
        display: none;
    }
    
    .hmain__item2 {

    }

    .hmain_img {
        width: 386px;
        height: 368px;
    }

    .banner-titlewrapper {
        gap: 15px;
        padding-left: 0;
     }

    .banner_rectangle {
        height: 61px;
    }

    .bannertitle1 {
        font-size: 38px;
    }
    .bannertitle2 {
        font-size: 20px;
    }

    .content {
        padding-top: 64px;
    }

    .cprev {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }

    .cprev__item1 {
    width: 343px;
    height: 247px;
    }

    .cprev__item2 {
        width: 344px;
        height: 249px;
    }

    .cprev__item3 {
        width: 343px;
        height: 248px;
    }
    
    .cprev__item4 {
        width: 343.262px;
        height: 111px;
    }

    .cprev__text {
        font-size: 16px;
        line-height: normal;
    }
    
    .cprev__title {
        font-size: 24px;
        line-height: normal;
    }

    .ctitle {
        padding-top: 64px;
        padding-bottom: 64.7px;
    }
    
    .cmain {
        grid-template-columns: repeat(1, 359px);
        grid-template-rows: repeat(6, 579px);
        gap: 16.61px;
        padding-bottom: 32.48px;
    }

    .cmain_desc {
        padding: 25.28px 28.72px 19.95px 16.41px;
    }

    .cmain_text {
        font-size: 14px;
        padding-top: 12.62px;
        padding-bottom: 17.95px;
    }
    
    .cmain_footer {
        padding-bottom: 64.52px;
    }
}