* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

.hmenu {
    width: 1600px;
    height: 75px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 970px 160px;
    align-items: center;

    padding-left: 231px;
    padding-right: 240px;
    background: #222;
}

.hmain {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background: #FFF;
    padding-bottom: 48px;
}

.cprev {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: 260px 180px;
    justify-content: center;
    gap: 30px;
}

.cprev__item {

}

.cmain {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(2, 581px);
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.cmain__item {
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}
.footer__btn {
    /*text*/
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /*box*/
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    border-color: #F26376;
}
